<footer>
    <p>© <%= new Date().getFullYear() %>. Encurtador de URLs. Feito por <a href="https://linkedin.com/in/joaovpdls/" target="_blank" rel="noopener nofollow">João Santos</a> através da API do Bitly.</p>
</footer>