<h1>Encurte links gratuitamente</h1>
<p>Transforme links longos em links curtos, mais amigáveis, facilmente usando esta ferramenta online gratuita.
</p>
<section>
    <form action="javascript:;" onsubmit="shortenUrl()" class="highlighted-background">
        <label for="long-url">Link a ser encurtado</label>
        <div id="input__container">
            <input type="text" id="long-url" placeholder="https://exemplo.com.br" required />
            <button type="submit">Encurtar link</button>
        </div>
    </form>
    <div id="short-url__container" class="highlighted-background">
        <p id="short-url"></p>
    </div>
</section>
<section id="faq">
    <h2>Perguntas Frequentes</h2>
    <hr />
    <details>
        <summary>O que é um encurtador de URLs?</summary>
        <p>Um encurtador de URL é uma ferramenta simples que leva um URL longo e transforma-o em qualquer URL
            que deseje que seja.</p>
    </details>
    <details>
        <summary>Quanto tempo dura o encurtador de URL?</summary>
        <p>Os URLs encurtados duram geralmente um mês. Após um mês de inatividade, são automaticamente apagados.
        </p>
    </details>
    <details>
        <summary>É seguro usar encurtador de link?
        </summary>
        <p>O risco de segurança com um URL abreviado é que não se pode dizer para onde se vai quando se clica no
            link, tem de se confiar no remetente.</p>
    </details>
    <details>
        <summary>Como abrir um link encurtado?</summary>
        <p>Para abrir um link abreviado, basta aceder ao mesmo num browser.</p>
    </details>
    <details>
        <summary>Como criar um link encurtado gratuito?
        </summary>
        <p>Você pode criar um link curto gratuito através da ferramenta no início da página, ou usar outros
            serviços como o Bitly, TinyURL e afins.</p>
    </details>
</section>